<%= form_for (@question) do |f| %>

    <div class="field">
      <%= f.label :title %> <br/>
      <%= f.text_field :title %>
    </div> <br/>

    <div class="field">
      <%= f.label :body %> <br/>
      <%= f.text_area :body %>
    </div>


    <div class="actions">
      <%= f.submit  "#{@question.new_record? ? 'Create' : 'Update'}" %>
    </div>
<% end %>