<h4>Question of:</h4>

<div class="question_existed_area" id="question_existed_area_<%= @question.id %>">

  <div class="question_user_existed", id="question_user_existed_<%= @question.id %>">
    <%= @question.user.email %>
  </div>
  <br/>

  <div class="question_title_existed" id="question_title_existed_<%= @question.id %>">
    <%= @question.title %>
  </div>
  <br/>
  <div class="question_body_existed" id="question_body_existed_<%= @question.id %>">
    <%= @question.body %>
  </div>

    <%= render 'form_edit', question: @question %>

  <div id="question_crud_link_<%= @question.id %>">
    <%= link_to 'edit', '', class: 'question_edit_link', id: "question_edit_link_#{@question.id}",  data: {question_id: @question.id} %>
  </div>
</div>

<div class="answers">
  <% if @question.answers && @question.answers.any? %>
      <h3>Answers:</h3>
      <% @question.answers.each do |answer| %>
          <% if answer.persisted? %>
              <%= render answer %>
          <% end %>
      <% end %>
  <% else %>
      No answers

  <% end %>
</div>


<% if current_user %>
    <p><%= render 'answers/form', question: @question, answer: @answer %></p>
<% else %>
    <p> Please <%= link_to 'log in', new_user_session_path %> If You want to add a new Answer. </p>

<% end %>


