<p>Question:</p>


<h3>topic:</h3>
<p><%= @question.title %></p>
<h3>text of the question:</h3>
<p><%= @question.body %></p>

<div class="answers">
  <% if @question.answers && @question.answers.any? %>
      <h3>Answers:</h3>
      <% @question.answers.each do |answer| %>
          <% if answer.persisted? %>
              <div>

              </div>
              <%= render  answer %>
          <% end %>
      <% end %>
  <% else %>
      No answers

  <% end %>
</div>


<% if current_user %>
    <p><%= render 'answers/form', question: @question, answer: @answer %></p>
<% else %>
    <p> Please <%= link_to 'log in',   new_user_session_path %> If You want to add a new Answer. </p>

<% end %>


