<p>Question:</p>


<h3>topic:</h3>
<p><%= @question.title %></p>
<h3>text of the question:</h3>
<p><%= @question.body %></p>

<% if @question.answers && @question.answers.any? %>
    <h3>Answers:</h3>
    <% @question.answers.each do |answer| %>
        <% if answer.body.present? %>
            <ul>
              <li><%= answer.user.email %></li>
              <li><%= answer.body %></li>
            </ul>
        <% end %>
    <% end %>
<% else %>
    No answers

<% end %>


<p><%= render 'answers/form', question: @question, answer: Answer.new %></p>

