<h4>Question of:</h4>

<%= render 'common/errors', resource: @question %>

<div class="question_existed_area">
  <div class="question_errors"></div>

  <div class="question_user_existed">
    <%= @question.user.email %>
  </div>
  <br/>

  <div class="question_title_existed">
    <%= @question.title %>
  </div>
  <br/>

  <div class="question_body_existed">
    <%= @question.body %>
  </div>



  <%= form_for @question, remote: true do |f| %>
      <%= render 'question_form', question: @question, f: f %>
  <% end %>

  <% if user_signed_in? && current_user.author_of?(@question) %>
      <div class="question_crud_link">
        <%= link_to 'edit', '', class: 'question_edit_link' %>
      </div>
  <% end %>
</div>

<div class="answers">
  <% if @question.answers && @question.answers.any? %>
      <h3>Answers:</h3>

      <div class="best_answer">
        <% best_answer = @question.best_answer %>
        <%= render best_answer if best_answer.present? %>
      </div>
      <div class="others_answers">
        <% @question.answers.each do |answer| %>
            <% if answer.persisted? %>

                <%= render answer unless answer.is_best? %>

            <% end %>
        <% end %>
      </div>

  <% else %>
      No answers
  <% end %>
</div>


<% if current_user %>
    <p><%= render 'answer_new_form', question: @question, answer: @answer %></p>
<% else %>
    <p> Please <%= link_to 'log in', new_user_session_path %> If You want to add a new Answer. </p>

<% end %>


