<div>

  <div class="existed_answer_body" id="existed_answer_body_<%= answer.id %>">
    <%= answer.body %>
  </div>


  <%= form_for answer, remote: true, html: {id: "edit_answer_#{answer.id}"} do |f| %>
      <div id="answer_errors"></div>

      <div class="field">
        <%= f.label "body_edit_#{answer.id}", 'editing' %> <br/>
        <%= f.text_area :body, id: "answer_body_edit_#{answer.id}"  %>
      </div>


      <div class="actions">
        <%= f.submit 'Save' %>
      </div>

  <% end %>



  <span id="answer_crud_link_<%= answer.id %>">
  <%= answer.user.email %>
    <% if user_signed_in? && current_user.author_of?(answer) %>
    <%= link_to 'edit', '', class: 'edit_answer', data: {answer_id: answer.id} %>
        <%= link_to 'delete', answer, method: :delete, data: {confirm: 'Хотите удалить ответ?'} %>
    <% end %>
</span>

</div> <br/>

