<div id="answer_<%= answer.id %>" class="answer" data-answer-id='<%= answer.id %>'>
  <div class="answer_body_existed" id="answer_body_existed_<%= answer.id %>">
    <%= answer.body %>
  </div>

  <%= render 'answers/edit_form', answer: answer, answer_id: answer.id %>

  <span id="answer_crud_link_<%= answer.id %>">
    <%= answer.user.email %>
    <% if user_signed_in? %>

        <% if current_user.author_of?(answer) %>
      <%= link_to 'edit', '', class: 'answer_edit_link', data: {answer_id: answer.id},
                  id: "answer_edit_link_#{answer.id}" %>
            <%= link_to 'delete', answer, class: 'remove_link', remote: true, method: :delete,
                        data: {confirm: 'Do you want to remove the answer'} %>
    <% end %>

        <% if current_user.author_of?(@question) %>
            <%= link_to 'best?', select_best_answer_path(answer), class: 'answer_best_link',
                        id: "answer_best_link_#{answer.id}", remote: true, method: :patch %>

    <% end %>
    <% end %>
  </span>

</div>
