<!DOCTYPE html>
<html>
<head>
  <title>Voprosilo</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= Gon::Base.render_data %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p id="notice" class="notice"><%= notice %></p>

<p class="alert"><%= alert %></p>
<% if user_signed_in? %>
    <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
    <p>You are:  <%= current_user.email %></p>
<% else %>
    <%= link_to 'Войти', new_user_session_path %>
<% end %>
<%= yield %>

</body>
</html>
